<p>
  A new claim has been created on <%= @product.created_at.to_s(:short)%>
</p>

<hr>

<p>
  <strong>Name:</strong>
  <%= @product.name.capitalize %>
</p>

<p>
  <strong>Price:</strong>
  <%= "$#{@product.price}" %>
</p>

<p>
  <strong>Details:</strong>
  <%= @product.description %>
</p>
